name: OSV-Scanner PR Scan

on:
  pull_request:
    branches: [ main ]
  merge_group:
    branches: [ main ]

jobs:
  vuln-scan:
    name: Run osv-scanner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - uses: google/osv-scanner/actions/scanner@main
